firebase.js
# Node.js
node_modules/
*.local

npm-debug.log*
firebase-debug.log
functions/firebase-debug.log
# Firebase admin credentials
serviceAccount.json

# Environment variables
.env

# Editor / OS
.vscode/
.DS_Store

firebase.json
.firebaserc